<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sutpc.transpaas.algoserver.dao.SegmentVolumeMapper">

  <select id="queryStationVolume" resultType="com.sutpc.transpaas.algoserver.dto.response.StationVolumeResponse">
    select
      s.station_id, s.station_name, s.lng, s.lat, sum(v.board) board, sum(v.alight) alight
    from t_segment_volume v
    left join t_bus_station s on v.stop = s.station_id
    WHERE v.model_project_id = #{taskId}
    and s.station_type = #{stationType}
    and v.time_segment = #{timeSegment}
    GROUP BY s.station_id, s.station_name, s.lng, s.lat
    order by sum(v.board) desc
  </select>

</mapper>